<a href="https://colab.research.google.com/github/kilik42/-blockchain-essentials/blob/main/TRAIN_Python1%5BSTUDENT%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lab 1: Python Basics

---

##**Part #0: Getting familiar with Google Colab**
---

###Practice Together #1

---
Let's practice changing the title of our notebook. Rename your notebook to "Train PD Day 1".

###Practice Together #2

---
Create a new text cell and type: "This is a text cell."

###Practice Together #3

---
Create a new code cell and type: "This is a code cell."

###Practice Together #4

---
Run the code cell below.

In [ ]:
print("Hello World!")

##**Part #1: Print Functions**
---

###Practice Together #1

---

**Problem:** Create a code cell and type: `print("Hello!")`.

#####**Solution**

In [ ]:
print("Hello!")

###Practice Together #2

---

**Problem:** Create a code cell and type: `print("Today I learned about the basics of machine learning!")`.

#####**Solution**

In [ ]:
print("Today I learned about the basics of machine learning!")

Today I learned about the basics of machine learning!

---

**Now your turn! Try Exercises #1-3 on your own.**

---

###Exercise #1

---

**Problem:** Print your favorite color.

###Exercise #2

---
**Problem:** Print a sentence that states the school you work at.

###Exercise #3

---
**Problem:** Print the subject that you teach.

---
###Back To Lecture
---

###Practice Together #3

---

**Problem:** Create a code cell and print your favorite number.

#####**Solution**

In [ ]:
print(30)

###Practice Together #4

---
**Problem:** Create a code cell and print your zipcode.

#####**Solution**

In [ ]:
print(92110)

92110

---

**Now your turn! Try Exercises #4-6 on your own.**

---

###Exercise #4

---
**Problem:** Print the number of months in a year.

###Exercise #5

---
**Problem:** Print the current year.

###Exercise #6

---
**Problem:** Print today's date in the following format: MDDYYYY.

---
###Back To Lecture
---

##**Part #2: Variables**
---

###Practice Together #1

---
**Problem:** Create a variable called `my_school` and assign it to your school's name. Print this variable.

#####**Solution**

In [ ]:
my_school = "FULL NAME"
print(my_school)

###Practice Together #2

---
**Problem:** Create and name a variable with your favorite number as an integer. Print that variable.

#####**Solution**

In [ ]:
fav_number = 17
print(fav_number)

---

**Now your turn! Try Exercises #1-3 on your own.**

---

###Exercise #1
---
**Problem:** Create and name a variable with your favorite number as a float. Print that variable.

###Exercise #2

---

**Problem:** Look through the given declarations. Which ones are incorrect?

```
Var1 = 7
VAR5 = 8 
2var = 92
first_last_name = "james gooding"
Hello! = 0.283 
variable24 = "my favorite food is"
str = "string"
```

###Exercise #3

---

**Problem:** Create and a name a variable that stores a list of 3 fruits. Print that variable.

---
###Back To Lecture
---

##**Part 2.1: Practice [Optional]**
---

###**Practice with Print Functions**
---

###Exercise #1

---
**Problem:** Print your favorite animal.

###Exercise #2

---
**Problem:** Print the name of your hometown.

###Exercise #3

---
**Problem:** Print the name of a planet.

###Exercise #4

---
**Problem:** Print the current month.

###Exercise #5

---
**Problem:** Print the year that the U.S. Declaration of Independence was signed.

###**Practice with Variables**
---

###Exercise #6

---
**Problem:** Create a variable called `pi` and assign it the value of the first 3 digits of pi. Print that variable.

###Exercise #7

---
**Problem:** Create and name a variable that stores the name of a type of flower. Print that variable.

###Exercise #8

---
**Problem:** Create a variable called `eye_color` and assign it the value of your eye color. Print that variable.

###Exercise #9

---
**Problem:** Create and name a variable storing a list of 3 different languages. Print the variable.

###Exercise #10

---
**Problem:** Create a variable named `sentence` and assign a sentence to it. Print the sentence.

---
###Back To Lecture
---

##**Part 3: Arithmetic Operators**
---

###Practice Together #1

---
**Problem:** Print the sum of 3 and 2. Take note of the output.

#####**Solution**

In [ ]:
print(3+2)

5
9.0
11.5
609.5999999999999

###Practice Together #2

---
**Problem:** Print the sum of 7.0 and 2.0. Take note of the output.

#####**Solution**

In [ ]:
print(7.0+2.0)

###Practice Together #3

---
**Problem:** What is 23 divided by 2? Print the answer. Take note of the output.

#####**Solution**

In [ ]:
print(23/2)

###Practice Together #4

---
**Problem:** Print the product of 24.0 and 25.4. Take note of the output.

#####**Solution**

In [ ]:
print(24.0*25.4)

---

**Now your turn! Try Exercises #1-3 on your own.**

---

###Exercise #1
---
**Problem:** Print the sum of 13 and 27.

###Exercise #2
---
**Problem:** What is the product of 1000 and 3000? Print the result.

###Exercise #3
---
**Problem:** Divide 250 by 50. Print the result.

---
###Back To Lecture
---

###Practice Together #5

---
**Problem:** Create and name a variable `fav_number` with your favorite number as an integer. Multiply the variable by 3 and print the result.

#####**Solution**

In [ ]:
fav_number = 17
result = 17*3
print(result)

###Practice Together #6

---
**Problem:** You have 2 bananas and 5 apples. How many fruits do you have in total?

In [ ]:
bananas = 2
apples = 5
#add code here

#####**Solution**

In [ ]:
bananas = 2
apples = 5
fruits = bananas + apples
print(fruits)

7

###Practice Together #7

---
**Problem:** You got a 90 on your biology test, and then answered the extra credit question, which gave you an additional 4 points.

In [ ]:
original_grade = 90
bonus = 4
# add code here

#####**Solution**

In [ ]:
original_grade = 90
bonus = 4
final_grade = original_grade + bonus
print(final_grade)

94

---

**Now your turn! Try Exercises #4-6 on your own.**

---

###Exercise #4

---
**Problem:** The length and width of a rectangle are 5 and 8, respectively. Calculate the area of a rectangle using these variables and print the result.

In [ ]:
length = 5
width = 8
# add code here

###Exercise #5

---
**Problem:** Create three variables `num1`, `num2`, and `num3` and assign them the values of 5, 24, and 67, respectively. Then calculate the average of these three numbers.

###Exercise #6

---
**Problem:** Create a variable named `temperature` and assign a value of 25. Convert the temperature from Celsius to Fahrenheit using the formula (`temperature` * 9/5) + 32 and print the result.

---
###Back To Lecture
---

##**PART 4: Independent Practice**
---

### Exercise #1
---

**Problem:** What's wrong with the following declaration? 

A) 
```
1var = 323.0
```
B) 
```
month@month = "July" 
```

C)
```
month year = "july2020"
```

###Exercise #2

---
**Problem:** Create a list named `nums` with values 1, 2, and 3.

###Exercise #3

---

**Problem:** Divide 13 by 7. Make sure the answer has decimals.

###Exercise #4

---
**Problem:** Starting with the code below, reassign the variable, `candybar`, to "Milkyway." Check to make sure it worked.

In [ ]:
candybar = "Snickers"
# add code here

###Exercise #5

---
**Problem:** Using the code below, what will print when you `print(bananas)`? Why?

```
bananas = 4
apples = 3
oranges = banana
bananas = 8
print(bananas)
```

###Exercise #6

---
**Problem:** Name a variable `name` and assign it your name. Then change the value to your instructor's name.

###Exercise #7

---
**Problem:** Create a list named 'grocery_list' and add 5 items. Print the list.

###Exercise #8

---
**Problem:** What are the following data types?

```
4323

"word"

[4.0, 25.4, 192.0]

["apples", "bananas", "oranges"]

-1.231
```

###Exercise #9

---
**Problem:** Create a list called `capitols` and list 5 U.S. State capitols. Print the list.

### Exercise #10
---

**Problem:** Your plant grew 5.3 inches in 10 days. Create a variable `height` and assign it to value 5.3. Create a variable `days` and assign it to value 10. Assuming your plant grew the same amount everyday, how much did it grow each day?

###Exercise #11

---
**Problem:** Jake has 5 bags of coins. Each bag has 18 coins in it. How many coins in total does Jake have? Create variables `bags` and `coins` and print their product: `total`.

---
Â© 2023 The Coding School, All rights reserved